<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <span th:text="${currentDate}"></span>
    <span th:text="${person.getName()}"></span>
    <span th:text="${person.getAge()}"></span>
</div>
<div align="center">
    <input type="text" name="userName" value="James Carrot" th:value="${person.getName()}" />
</div>
<div th:text="${person.getSex()}">
</div>
</body>
</html>